@{
    ViewData["Title"] = "Home Page";
}

    <div id="conn-result" style="display:none;"></div>
    <input id="txt-user" />
    <input id="txt-message"/>
    <button id="btn-send">Send</button>
    <div id="result"></div>
    

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/custom.js"></script>
