@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row" style="display:flex;justify-content:center;align-items:center;">
        <h1>This is the Landing Page!</h1>
        <h2>Welcome!</h2>
    </div>
</div>
