@* <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SignalRChatApp.Client</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    @if (Context.User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Chats">Chats</a>
                        </li>
                    }
                </ul>
            </div>
            @if (!Context.User.Identity.IsAuthenticated)
            {
                <a class="btn btn-success mx-1" asp-area="" asp-controller="User" asp-action="Login">Sign In</a>
                <a class="btn btn-warning mx-1" asp-area="" asp-controller="User" asp-action="Register">Sign Up</a>
            }
            @if (Context.User.Identity.IsAuthenticated)
            {
                <a class="btn btn-success mx-1" asp-area="" asp-controller="User" asp-action="Logout" asp-route-returnurl="/Home/Index">Logout</a>
            }
        </div>
    </nav>
</header>
 *@
<style>
    #font-weights {
        font-weight: 700;
    }
</style>
<header>
    <!-- Header Start -->
    <div class="header-area header-transparrent ">
        <div class="main-header header-sticky">
            <div class="container">
                <div class="row align-items-center">
                    <!-- Logo -->
                    <div class="col-xl-2 col-lg-2 col-md-2">
                        <div class="logo">
                            <a href="index.html"><img src="~/img/logo/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10">
                        <!-- Main-menu -->
                        <div class="main-menu f-right d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li class="active"><a href="index.html"> Home</a></li>
                                    <li><a href="feature.html">Feature</a></li>
                                    <li><a href="services.html">Services</a></li>
                                    <li><a href="pricing.html">Pricing</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                    @if (Context.User!.Identity!.IsAuthenticated)
                                    {
                                        <li><a asp-area="" asp-action="Chats" asp-controller="Home" id="font-weights">Chats</a></li>
                                    }
                                    @if (!Context.User.Identity.IsAuthenticated)
                                    {
                                        <li><a asp-area="" asp-controller="User" asp-action="Login" id="font-weights">Sign In</a></li>
                                        <li><a asp-area="" asp-controller="User" asp-action="Register" id="font-weights">Sign Up</a></li>
                                    }
                                    @if (Context.User.Identity.IsAuthenticated)
                                    {
                                        <li><a asp-area="" asp-controller="User" asp-action="Logout" asp-route-returnurl="/Home/Index" id="font-weights">Logout</a></li>
                                    }

                                    @* <li>
                                    <a href="#">Pages</a>
                                    <ul class="submenu">
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="single-blog.html">Blog Details</a></li>
                                    <li><a href="elements.html">Element</a></li>
                                    </ul>
                                    </li> *@
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>
